<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Firefox" />
    <add key="Username" value="ketan.naik@testingconsultancy.com" />
    <add key="Password" value="Tosca123" />
    <add key="WebSite" value="http://demowebshop.tricentis.com/" />
    <add key="PageLoadTimeOut" value="40" />
    <add key="ElementLoadTimeOut" value="60" />
    <add key="HeadlessBrowserModeEnabled" value="false" />
    <add key="aspnet:RoslynCompilerLocation" value="roslyn" />
  </appSettings>
</configuration>